@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
$main-colors: (
  first: #e3e3e3,
  second: #d7d6d6,
  third: #9ad3de,
  fourth: #89bdd3
);
%flex-typical{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background: map-get($main-colors, first);
  font-family: 'Didact Gothic', sans-serif;
}
#landing{
      @extend %flex-typical;
      flex-direction: column;
      margin: 10px;
      position: relative;

      h1{
        font-size: 7em;
        color: map-get($main-colors, fourth);
      }
}
.stats{
  position: relative;
  width: calc(100% - 40px);
  max-width: 1000px;
  margin-bottom: 20px;
  height: 350px;
  padding-top: 10px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  @extend %flex-typical;
  flex-wrap: nowrap;
  align-items: flex-end;
  >p{
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotateZ(-90deg) translate(20px, -90px);
    font-size: 1.2em;
  }
  &:nth-of-type(2) > p{
    left: 6px;
  }
}

.single-data{
  position: relative;
  height: 5px;
  width: calc(1/9 * 95%);
  background: map-get($main-colors, third);
  border-radius: 5px 5px 0 0;
  transition: 3.5s ease;
  span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8em;
  }
  >p{
    margin: 0;
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
  }
}
#characters{
  @extend %flex-typical;
  margin: 35px 5px;
}
.character{
      display: block;
      width: 280px;
      cursor: pointer;

      &:hover img{
        filter:brightness(70%);
      }
      img{
        height: 185px;
        width: 100%;
        transition: .3s ease;
      }
      p{
        width: 100%;
        text-align: center;
        background: map-get($main-colors, second);
        height: 40px;
        line-height: 40px;
        font-size: 1.3em;
      }
}
#logForm{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  @extend %flex-typical;
  flex-direction: column;
  a{
    color: inherit;
    &:hover{
      text-decoration: none;
    }
  }
  form{
    height: 200px;
    border-radius: 10px;
    border: 1px solid #000;
    position: relative;
    bottom:-200px;
    *{
      display: block;
      margin: auto;
      text-align: center;
    }
  }
}
#loginTrigger, .logged-option{
  position: relative;
  bottom:-200px;
  cursor: pointer;
}
#posting-box{
  @extend %flex-typical;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0 0 70px #000;
  height: 400px;
  width: 300px;
  padding: 20px 0;
  textarea{
    height: 150px;
    resize: none;
  }
  input, textarea{
    width: calc(100% - 18px);
  }
}
#close{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5em;
  cursor: pointer;
}
#latest-workouts{
  @extend %flex-typical;
  flex-direction: column;
  margin-top: 30px;
}
.post{
  @extend %flex-typical;
  flex-direction: column;
  padding: 10px 0px 0px 0px;
  width: calc(100% - 20px);
  max-width: 500px;
  margin: 5px 0;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid map-get($main-colors, fourth);
  border-radius: 8px;
  background: map-get($main-colors, second);
  img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 4px 0 20px #000;
    border: 2px solid map-get($main-colors, first);
  }
  >div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: map-get($main-colors, first);
    text-align: center;
    border: 2px solid map-get($main-colors, fourth);
    border-left: none;
    border-right: none;
  }
  p{
    font-size: 1.2em;
  }
  form{
    width: 100%;
    background: map-get($main-colors, first);
    border-top: 2px solid map-get($main-colors, fourth);
    >input:last-of-type{
      display: none;
    }
    h6{
      text-align: center;
      border-bottom: 2px solid map-get($main-colors, fourth);
      margin: 0;
      padding: 3px 0;
    }
  }
}
.post-description{
  padding: 10px;
  background: map-get($main-colors, first);
  border-top: none;
  border-bottom: none;
  margin: 0;
  width: 100%;
}
.post-date{
  font-size: 0.8em !important;
  width: 100%;
  background: map-get($main-colors, first);
  border-top: 1px solid map-get($main-colors, fourth);
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 5px 0;
}
.disabled-nick{
  pointer-events:none;
  background: inherit;
  color: map-get($main-colors, fourth);
}
.comment-addition{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  input, textarea{
    border: none;
    border-radius: 20px;
    padding-left: 5px;
    outline: none;
  }
  input{
    width: 100px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    &:first-of-type{
      border-radius: 0;
      border: 1px solid map-get($main-colors, fourth);
    }
    &:last-of-type{
      background: map-get($main-colors, fourth);
      color: #fff;
      transition: .3s ease;
      cursor: pointer;
    }
    &:last-of-type:hover{
      background: #fff;
      color:map-get($main-colors, fourth);
      border: 1px solid map-get($main-colors, fourth);
    }
  }
  textarea{
    flex-grow: 1;
    resize: none;
    min-height: 70px;
  }
  .comment-left-box{
    margin-right: 5px;
  }
}
.inner-comments{
  width: 100%;
}
.comment{
  position: relative;
  width: 100%;
  background: #f0eded;
  border-top: 1px solid map-get($main-colors, fourth);
  &:nth-of-type(even){
    background: #f5f5f5;
  }
  &:first-of-type{
    border: none;
  }
  >div{
    width: 50px;
    margin: auto;
    cursor: pointer;
    transition: .3s ease;
    &:hover{
      filter: brightness(70%);
    }
  }
}
.comment-name{
  top: 5px;
  left: 5px;
  color: #55bf0b;
  padding: 2px 30px 2px 0px;
  font-weight: 800;
  text-align: left;
}
.comment-content{
  text-align: left;
  padding: 5px 10px
}
.thumb{
  color: map-get($main-colors, third);
  font-size: 25px;
  margin: 0px 10px;
}
