@import url("https://fonts.googleapis.com/css?family=Didact+Gothic");
@import url("https://fonts.googleapis.com/css?family=Courgette");
#landing, .stats, #characters, #logForm, #posting-box, #latest-workouts, .post, main, #user-stats, #scroll-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

html {
  width: 100%; }

body {
  width: 100%;
  margin: 0;
  background: #e3e3e3;
  font-family: 'Didact Gothic', sans-serif; }

#relative-box {
  margin-top: 80px; }

nav {
  padding: 40px 10px;
  background: #3eb3e4; }

#landing {
  flex-direction: column;
  margin-top: 80px;
  position: relative; }
  #landing h1 {
    font-size: 7em;
    color: #3eb3e4; }

.stats {
  position: relative;
  width: calc(100% - 40px);
  max-width: 1000px;
  margin-bottom: 20px;
  height: 350px;
  padding-top: 10px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  flex-wrap: nowrap;
  align-items: flex-end; }
  .stats > p {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotateZ(-90deg) translate(20px, -90px);
    font-size: 1.2em; }
  .stats:nth-of-type(2) > p {
    left: 6px; }

.single-data {
  position: relative;
  height: 5px;
  width: calc(1/9 * 95%);
  background: #3ec4fc;
  border-radius: 5px 5px 0 0;
  transition: 3.5s ease; }
  .single-data span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8em; }
  .single-data > p {
    margin: 0;
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
    font-size: 0.5em; }

#characters {
  margin: 35px 5px; }

.character {
  display: block;
  width: 280px;
  cursor: pointer; }
  .character:hover img {
    filter: brightness(70%); }
  .character img {
    height: 185px;
    width: 100%;
    transition: .3s ease; }
  .character p {
    width: 100%;
    text-align: center;
    background: #d7d6d6;
    height: 40px;
    line-height: 40px;
    font-size: 1.3em; }

#logForm {
  position: fixed;
  z-index: -10;
  left: 50%;
  background: #3e85e4;
  width: 300px;
  padding: 10px;
  transform: translateX(-50%);
  flex-direction: column;
  overflow: hidden;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #000;
  bottom: -200px; }
  #logForm p {
    color: #e3e3e3;
    margin: 0; }
  #logForm input {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 8px;
    transition: .3s ease; }
    #logForm input:hover {
      background: #e3e3e3; }
    #logForm input:focus {
      border: 1px solid #5dd911; }
  #logForm input:last-of-type {
    background: #5dd911;
    margin-top: 10px;
    color: #fff;
    padding: 8px 20px;
    cursor: pointer; }
    #logForm input:last-of-type:hover {
      letter-spacing: 3px; }

.nav-link {
  color: #e3e3e3;
  letter-spacing: 2px;
  font-size: 1.4em;
  transition: .3s ease; }
  .nav-link:hover {
    color: #2a20f5; }

#loginTrigger {
  cursor: pointer; }

#add-post {
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 1px #000;
  margin: 0 10px; }
  #add-post:hover {
    color: #2a20f5; }

#posting-box {
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  background: #3e85e4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0 0 70px #000;
  height: 400px;
  width: 300px;
  padding: 20px 0; }
  #posting-box input, #posting-box textarea, #posting-box select {
    width: calc(100% - 18px);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 8px;
    transition: .3s ease; }
    #posting-box input:hover, #posting-box textarea:hover, #posting-box select:hover {
      background: #e3e3e3; }
    #posting-box input:focus, #posting-box textarea:focus, #posting-box select:focus {
      border: 1px solid #5dd911; }
  #posting-box select {
    border-radius: 10px 10px 0 0;
    text-align: center; }
  #posting-box select:hover {
    background: #fff; }
  #posting-box option {
    padding: 11px 0;
    background: #e3e3e3; }
    #posting-box option:nth-of-type(even) {
      background: #d7d6d6; }
  #posting-box textarea {
    height: 130px;
    resize: none;
    padding: 8px 8px 30px 8px; }
  #posting-box input:last-of-type {
    background: #5dd911;
    color: #fff;
    cursor: pointer; }
    #posting-box input:last-of-type:hover {
      letter-spacing: 3px; }
  #posting-box p {
    color: #e3e3e3;
    margin-bottom: 8px; }

#close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5em;
  cursor: pointer; }

#latest-workouts {
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  width: 600px;
  padding: 20px 0; }

.post {
  flex-direction: column;
  padding: 10px 0px 0px 0px;
  width: calc(100% - 20px);
  max-width: 500px;
  margin: 5px 0;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid #3eb3e4;
  border-radius: 8px;
  background: #d7d6d6; }
  .post > img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 0px 0 20px #000; }
  .post > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #e3e3e3;
    text-align: center;
    border: 2px solid #3eb3e4;
    border-left: none;
    border-right: none; }
  .post p {
    font-size: 1.2em; }
  .post form {
    width: 100%;
    background: #e3e3e3;
    border-top: 2px solid #3eb3e4; }
    .post form > input:last-of-type {
      display: none; }
    .post form h6 {
      text-align: center;
      border-bottom: 2px solid #3eb3e4;
      margin: 0;
      padding: 3px 0; }

.post-description {
  padding: 10px;
  background: #e3e3e3;
  border-top: none;
  border-bottom: none;
  margin: 0;
  width: 100%; }

.post-date {
  font-size: 0.8em !important;
  width: 100%;
  background: #e3e3e3;
  border-top: 1px solid #3eb3e4;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 5px 0; }

.disabled-nick {
  pointer-events: none;
  background: inherit;
  color: #3eb3e4; }

.comment-addition {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px; }
  .comment-addition input, .comment-addition textarea {
    border: none;
    border-radius: 20px;
    padding-left: 5px;
    outline: none; }
  .comment-addition input {
    width: 100px;
    display: block;
    margin-bottom: 10px;
    text-align: center; }
    .comment-addition input:first-of-type {
      border-radius: 0;
      border: 1px solid #3eb3e4; }
    .comment-addition input:last-of-type {
      background: #3eb3e4;
      color: #fff;
      transition: .3s ease;
      cursor: pointer; }
    .comment-addition input:last-of-type:hover {
      background: #fff;
      color: #3eb3e4;
      border: 1px solid #3eb3e4; }
  .comment-addition textarea {
    flex-grow: 1;
    resize: none;
    min-height: 70px; }
  .comment-addition .comment-left-box {
    margin-right: 5px; }

.inner-comments {
  width: 100%; }

.comment {
  position: relative;
  width: 100%;
  background: #f0eded;
  border-top: 1px solid #3eb3e4; }
  .comment:nth-of-type(even) {
    background: #f5f5f5; }
  .comment:first-of-type {
    border: none; }
  .comment > div {
    width: 50px;
    margin: auto;
    cursor: pointer;
    transition: .3s ease; }
    .comment > div:hover {
      filter: brightness(70%); }

.comment-name {
  position: relative;
  color: #55bf0b;
  padding: 2px 30px 2px 0px;
  font-weight: 800;
  text-align: left; }

.comment-name[verified]::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 15px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotateZ(30deg) translate(10px, 0px); }

.comment-content {
  text-align: left;
  padding: 5px 10px; }

.thumb {
  color: #3ec4fc;
  font-size: 25px;
  margin: 5px 10px;
  height: 20px;
  cursor: pointer; }
  .thumb:hover {
    filter: drop-shadow(2px 2px 10px #3ec4fc); }

main {
  width: 100%;
  box-shadow: 0 5px 20px #000;
  background: #3ec4fc;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  padding-top: 80px; }
  main > img {
    margin: 20px 0 5px 0;
    width: 180px;
    height: 180px;
    border: 5px solid #fff;
    box-sizing: content-box; }
  main > h1 {
    text-shadow: 2px 1px 10px #000; }

#bio {
  width: 70%;
  min-width: 300px;
  margin: 10px auto 20px auto;
  background: #e3e3e3;
  border: 2px solid #3eb3e4;
  border-radius: 40px;
  padding: 30px;
  color: #000;
  font-size: 1.3em;
  text-align: center;
  font-family: 'Courgette', cursive; }
  #bio::before, #bio::after {
    content: '``';
    font-size: 1.3em;
    color: #3e85e4; }

#user-stats {
  justify-content: center;
  width: 100%;
  border-top: 2px solid #e3e3e3;
  background: #3391b9;
  padding: 20px 0; }

.stat {
  width: 30vw;
  height: 30vw;
  min-height: 120px;
  max-height: 200px;
  min-width: 120px;
  max-width: 200px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px #000;
  margin: 5px; }
  .stat h3 {
    margin-bottom: 35px; }

#profiles {
  padding-top: 20px;
  border-top: 8px solid #3eb3e4;
  border-radius: 7px 7px 0 0;
  margin: auto;
  width: calc(100% - 20px); }
  #profiles a {
    margin: 20px 10px;
    box-shadow: 0 0 6px #000;
    transition: .4s ease-out; }
    #profiles a:hover {
      box-shadow: 0 0 30px #000;
      filter: brightness(120%); }

#inner-profiles {
  padding-bottom: 20px;
  margin: auto;
  width: 70%;
  border-bottom: 8px solid #3eb3e4;
  border-radius: 0 0 7px 7px;
  min-width: 300px; }
  #inner-profiles img {
    width: 180px;
    height: 180px; }

#scroll-box {
  width: 100%;
  justify-content: center;
  position: relative; }

#show-profiles {
  display: block;
  margin: 15px auto;
  padding: 10px 50px;
  font-size: 1.5em;
  border-radius: 15px;
  background: #3eb3e4;
  letter-spacing: 8px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s ease-out; }
  #show-profiles:hover {
    background: #2f8db4; }

.toggle-arrow {
  transition: .3s ease; }

@media only screen and (max-width: 600px) {
  .stat h3 {
    font-size: 1.2em;
    margin-bottom: 15px; } }
@media only screen and (max-width: 550px) {
  #latest-workouts {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
