@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Courgette');
$main-colors: (
  first: #e3e3e3,
  second: #d7d6d6,
  third: #3ec4fc,
  fourth: #3eb3e4
);
%flex-typical{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
html{
  width: 100%;
}
body{
  width: 100%;
  margin: 0;
  background: map-get($main-colors, first);
  font-family: 'Didact Gothic', sans-serif;
}
nav{
  padding: 40px 10px;
  background: map-get($main-colors, fourth);
}
#landing{
      @extend %flex-typical;
      flex-direction: column;
      margin-top: 80px;
      position: relative;

      h1{
        font-size: 7em;
        color: map-get($main-colors, fourth);
      }
}
.stats{
  position: relative;
  width: calc(100% - 40px);
  max-width: 1000px;
  margin-bottom: 20px;
  height: 350px;
  padding-top: 10px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  @extend %flex-typical;
  flex-wrap: nowrap;
  align-items: flex-end;
  >p{
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotateZ(-90deg) translate(20px, -90px);
    font-size: 1.2em;
  }
  &:nth-of-type(2) > p{
    left: 6px;
  }
}

.single-data{
  position: relative;
  height: 5px;
  width: calc(1/9 * 95%);
  background: map-get($main-colors, third);
  border-radius: 5px 5px 0 0;
  transition: 3.5s ease;
  span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8em;
  }
  >p{
    margin: 0;
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
    font-size: 0.5em;
  }
}
#characters{
  @extend %flex-typical;
  margin: 35px 5px;
}
.character{
      display: block;
      width: 280px;
      cursor: pointer;

      &:hover img{
        filter:brightness(70%);
      }
      img{
        height: 185px;
        width: 100%;
        transition: .3s ease;
      }
      p{
        width: 100%;
        text-align: center;
        background: map-get($main-colors, second);
        height: 40px;
        line-height: 40px;
        font-size: 1.3em;
      }
}
#logForm{
  position: fixed;
  z-index: -10;
  left: 50%;
  background: #3e85e4;
  width: 300px;
  padding: 10px;
  transform: translateX(-50%);
  @extend %flex-typical;
  flex-direction: column;
  overflow: hidden;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #000;
  bottom:-200px;
  p{
    color: map-get($main-colors, first);
    margin: 0;
  }
  input{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 8px;
    transition: .3s ease;
    &:hover{
      background: map-get($main-colors, first);
    }
    &:focus{
      border: 1px solid #5dd911;
    }
  }
  input:last-of-type{
    background: #5dd911;
    margin-top: 10px;
    color: #fff;
    padding: 8px 20px;
    cursor: pointer;
    &:hover{
      letter-spacing: 3px;
    }
  }
}
.nav-link{
  color: map-get($main-colors, first);
  letter-spacing: 2px;
  font-size: 1.4em;
  transition: .3s ease;
  &:hover{
    color: #2a20f5;
  }
}
#loginTrigger{
  cursor: pointer;
}
#add-post{
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 1px #000;
  margin: 0 10px;
  &:hover{
    color: #2a20f5;
  }
}
#posting-box{
  @extend %flex-typical;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  background: #3e85e4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0 0 70px #000;
  height: 400px;
  width: 300px;
  padding: 20px 0;
  input, textarea, select{
    width: calc(100% - 18px);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 8px;
    transition: .3s ease;
    &:hover{
      background: map-get($main-colors, first);
    }
    &:focus{
      border: 1px solid #5dd911;
    }
  }
  select{
    border-radius: 10px 10px 0 0;
    text-align: center;
  }
  select:hover{
    background: #fff;
  }
  option{
    padding: 11px 0;
    background: map-get($main-colors, first);
    &:nth-of-type(even){
      background: map-get($main-colors, second);
    }
  }
  textarea{
    height: 130px;
    resize: none;
    padding: 8px 8px 30px 8px;
  }
  input:last-of-type{
    background: #5dd911;
    color: #fff;
    cursor: pointer;
    &:hover{
      letter-spacing: 3px;
    }
  }
  p{
    color: map-get($main-colors, first);
    margin-bottom: 8px;
  }
}
#close{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5em;
  cursor: pointer;
}
#latest-workouts{
  @extend %flex-typical;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  width: 600px;
  padding: 20px 0;
}
.post{
  @extend %flex-typical;
  flex-direction: column;
  padding: 10px 0px 0px 0px;
  width: calc(100% - 20px);
  max-width: 500px;
  margin: 5px 0;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid map-get($main-colors, fourth);
  border-radius: 8px;
  background: map-get($main-colors, second);
  img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 0px 0 20px #000;
  }
  >div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: map-get($main-colors, first);
    text-align: center;
    border: 2px solid map-get($main-colors, fourth);
    border-left: none;
    border-right: none;
  }
  p{
    font-size: 1.2em;
  }
  form{
    width: 100%;
    background: map-get($main-colors, first);
    border-top: 2px solid map-get($main-colors, fourth);
    >input:last-of-type{
      display: none;
    }
    h6{
      text-align: center;
      border-bottom: 2px solid map-get($main-colors, fourth);
      margin: 0;
      padding: 3px 0;
    }
  }
}
.post-description{
  padding: 10px;
  background: map-get($main-colors, first);
  border-top: none;
  border-bottom: none;
  margin: 0;
  width: 100%;
}
.post-date{
  font-size: 0.8em !important;
  width: 100%;
  background: map-get($main-colors, first);
  border-top: 1px solid map-get($main-colors, fourth);
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 5px 0;
}
.disabled-nick{
  pointer-events:none;
  background: inherit;
  color: map-get($main-colors, fourth);
}
.comment-addition{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  input, textarea{
    border: none;
    border-radius: 20px;
    padding-left: 5px;
    outline: none;
  }
  input{
    width: 100px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    &:first-of-type{
      border-radius: 0;
      border: 1px solid map-get($main-colors, fourth);
    }
    &:last-of-type{
      background: map-get($main-colors, fourth);
      color: #fff;
      transition: .3s ease;
      cursor: pointer;
    }
    &:last-of-type:hover{
      background: #fff;
      color:map-get($main-colors, fourth);
      border: 1px solid map-get($main-colors, fourth);
    }
  }
  textarea{
    flex-grow: 1;
    resize: none;
    min-height: 70px;
  }
  .comment-left-box{
    margin-right: 5px;
  }
}
.inner-comments{
  width: 100%;
}
.comment{
  position: relative;
  width: 100%;
  background: #f0eded;
  border-top: 1px solid map-get($main-colors, fourth);
  &:nth-of-type(even){
    background: #f5f5f5;
  }
  &:first-of-type{
    border: none;
  }
  >div{
    width: 50px;
    margin: auto;
    cursor: pointer;
    transition: .3s ease;
    &:hover{
      filter: brightness(70%);
    }
  }
}
.comment-name{
  position: relative;
  color: #55bf0b;
  padding: 2px 30px 2px 0px;
  font-weight: 800;
  text-align: left;
}
.comment-name[verified]::after{
  content: '';
  position: absolute;
  width: 7px;
  height: 15px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotateZ(30deg) translate(10px, 0px);

}
.comment-content{
  text-align: left;
  padding: 5px 10px
}
.thumb{
  color: map-get($main-colors, third);
  font-size: 25px;
  margin: 0px 10px;
}
main{
  width: 100%;
  box-shadow: 0 5px 20px #000;
  background: map-get($main-colors, third);
  @extend %flex-typical;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  >img{
    margin: 20px 0 5px 0;
    width: 180px;
    height: 180px;
    border: 5px solid #fff;
    box-sizing: content-box;
  }
  >h1{
    text-shadow: 2px 1px 10px #000;
  }
}
#bio{
  width: 70%;
  min-width: 300px;
  margin: 10px auto 20px auto;
  background: map-get($main-colors, first);
  border: 2px solid map-get($main-colors, fourth);
  border-radius: 40px;
  padding: 30px;
  color: #000;
  font-size: 1.3em;
  text-align: center;
  font-family: 'Courgette', cursive;
  &::before, &::after{
    content: '``';
    font-size: 1.3em;
    color: #3e85e4;
  }
}
#user-stats{
  @extend %flex-typical;
  justify-content: center;
  width: 100%;
  border-top: 2px solid map-get($main-colors, first);
  background: #3391b9;
  padding: 20px 0;
}
.stat{
  width: 30vw;
  height: 30vw;
  min-height: 120px;
  max-height: 200px;
  min-width: 120px;
  max-width: 200px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px #000;
  margin: 5px;
  h3{
    margin-bottom: 35px;
  }
}
#profiles{
  padding-top: 20px;
  border-top: 8px solid #3eb3e4;
  border-radius: 7px 7px 0 0;
  margin: auto;
  width: calc(100% - 20px);
  a{
    margin: 20px 10px;
    box-shadow: 0 0 6px #000;
    transition: .4s ease-out;
    &:hover{
      box-shadow: 0 0 30px #000;
      filter: brightness(120%);
    }
  }
}
#inner-profiles{
  padding-bottom: 20px;
  margin: auto;
  width: 70%;
  border-bottom: 8px solid #3eb3e4;
  border-radius: 0 0 7px 7px;
  min-width: 300px;
  img{
    width: 180px;
    height:  180px;
  }
}
#scroll-box{
  width: 100%;
  @extend %flex-typical;
  justify-content: center;
  position: relative;
}
#show-profiles{
  display: block;
  margin: 15px auto;
  padding: 10px 50px;
  font-size: 1.5em;
  border-radius: 15px;
  background: #3eb3e4;
  letter-spacing: 8px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s ease-out;

  &:hover{
    background: #2f8db4;
  }
}
.toggle-arrow{
  transition: .3s ease;
}
@media only screen and (max-width: 600px){
  .stat{
    h3{
      font-size: 1.2em;
      margin-bottom: 15px;
    }
  }
}
@media only screen and (max-width: 550px){
  #latest-workouts{
    width: 100%;
  }
}
